<div class="container">
  <h1>Cocktails</h1>
  <div class="row">
  <% @cocktails.each do |cocktail| %>
    <div class="col-sm">
    <div class="card" style="width: 18rem;">
      <%= cl_image_tag cocktail.photo, class: "card-img-top" %>
      <div class="card-body">
        <h5 class="card-title"><%= cocktail.name %></h5>
        <p class="card-text"><%= cocktail.cdescription %></p>
        <%= link_to 'Recipe', cocktail_path(cocktail), class: "btn btn-outline-secondary" %>
        <%= link_to 'Delete Cocktail', cocktail_path(cocktail), method: :delete, class: "btn btn-outline-danger", data: { confirm: "Are you sure?" } %>
      </div>
    </div>
    </div>
  <% end %>
  </div>

<p><%= link_to "Add a new cocktail", new_cocktail_path, class: "btn btn-primary" %></p>
</div>
